/* custom header for index2.html*/
.custom-header {
  color: #0056b3;  /* Blue color */
  font-size: 20px;
  letter-spacing: 1px;
  text-decoration: underline;
  text-transform: uppercase;
}

/* Add border for box*/
.box-border {
  border: 2px solid #007bff; 
  border-radius: 10px;
}

.custom-button:hover {
  color: #003366; /* Darker color on hover */
  cursor: pointer; /* Change cursor to pointer to indicate interaction */
}